@{
    Layout = "_UnauthenticateLayout";
}

<div id="app" class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-2">忘記密碼</h1>
                                <p class="mb-4">
                                    我們懂，事情就是發生了。在下面輸入你的 Email 地址，我們會傳送重置密碼的連結給你。
                                </p>
                            </div>
                            <form class="user" v-on:submit.prevent="submit">
                                <div class="form-group">
                                    <input type="text" id="email" v-model="email" class="form-control form-control-user" placeholder="請輸入電子郵件">
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    重置密碼
                                </button>
                            </form>
                            <hr>
                            <div class="row">
                                <div class="text-center col-6">
                                    <a class="small" asp-action="Login">返回登入</a>
                                </div>
                                <div class="text-center col-6">
                                    <a class="small" asp-action="Register">立即註冊</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    email: "",
                }
            },
            methods: {
                submit() {
                    if (!validateEmail(this.email)) {
                        Swal.fire({
                            text: '請輸入正確的電子郵件',
                            icon: 'warning',
                        })
                        return
                    }

                    ajaxApi({
                        method: 'post',
                        url: '@Url.Action("ForgotPassword")',
                        headers: {
                            "Content-Type": "multipart/form-data",
                        },
                        data: {
                            email: this.email,
                        }
                    }, async response => {
                        if (response.data.success) {
                            await Swal.fire({
                                title: '信件已經寄出！',
                                text: '請到您的 Email 收取密碼重設信件，並按照指示完成密碼重置流程。',
                                icon: 'success',
                            })
                            window.location.href = '@Url.Action("Index")'
                            return
                        }

                        switch (response.data.errorCode) {
                            case 'Invalid':
                                Swal.fire({
                                    text: '此 Email 沒有在本站註冊過帳號，請<a href="@Url.Action("Register")">註冊</a>帳號！',
                                    icon: 'warning',
                                })
                                break;
                            default:
                                Swal.fire({
                                    text: '發生錯誤，請聯絡系統管理員，或稍後再試！',
                                    icon: 'error',
                                })
                        }
                    })
                }
            }
        }).mount('#app')
    </script>
}
