<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <li>
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index", "Home")">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Max World</div>
        </a>
    </li>

    <li>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
    </li>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseApps">
            <i class="fas fa-fw fa-cog"></i>
            <span>連動應用程式</span>
        </a>
        <div id="collapseApps" class="collapse" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="#">大富翁錢包</a>
                <a class="collapse-item" href="#">英文字卡</a>
            </div>
        </div>
    </li>

    <li>
        <!-- Divider -->
        <hr class="sidebar-divider">
    </li>

    <!-- Heading -->
    <li>
        <div class="sidebar-heading">
            資料管理
        </div>
    </li>


    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>我的身分</span>
        </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>歷史紀錄</span>
        </a>
    </li>

    <!-- Divider -->
    <li class="nav-item">
        <hr class="sidebar-divider">
    </li>
</ul>