<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title - Max World</title>

    <partial name="_Css" />
</head>

<body class="bg-gradient-primary">

    <div class="container">
        @RenderBody()
    </div>

    <partial name="_Scripts" />
    @RenderSection("Scripts", required: false)

</body>

</html>